.gradientBackground {
    background: linear-gradient(-45deg, #1a4d2e, #2d9596, #265073, #2d9596);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  